
//texto menu
.menufont a{
    color: $secundaria;
    font-size: 35px;
    padding: 10px;
    
    
}
.menufont a:hover{
    color: initial;
    text-decoration: none;
}

//fundo menu

.backmenu{
    padding: 80px;
}

