
//texto menu
.menufont a{
 
    
        img{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }
        h2{  
            color: $secundaria;
            font-size: 30px;
            padding: 10px;
            
        
        }
    }    
.menufont a:hover{
    color: initial;
    text-decoration: none;
}

//fundo menu

.backmenu{
    padding: 80px;
}
